<!DOCTYPE html>
<html data-wf-page="5d5e0eecaa3dfed5f4a4f50a" data-wf-site="5d5e0eb876620148fbf5e7d9">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <!-- navigation -->

    <% if current_page?(controller: 'devise/sessions', action: 'new') %>
      <div class="section-header position-absolute" style="visibility: hidden;">
    <% elsif current_page?(controller: 'devise/registrations', action: 'new') %>
    <% else %>
      <div class="section-header position-absolute">      
    <% end -%>
    
        <div class="container space-between align-middle">      
            <%= render partial: 'shared/navbar' %>
        </div>
      </div>
    <%#= render 'shared/notices' %>

<!--     <div class="container">
 -->      <%= yield %>
<!--     </div>
 -->
    <%= render 'shared/footer' %>
    <%= render 'shared/javascript' %>
  </body>
</html>